<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transfer-service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="mt-5">Welcome to the Transfer Service</h1>
    <hr/>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="/transfer">Transfer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transfer-history">Transfer History</a>
        </li>
    </ul>
    <hr/>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Transfer Status</div>
                <div class="card-body">
                    <h5 class="card-title">Transfer Successful!</h5>
                    <p class="card-text">Your transfer has been completed successfully.</p>
                    <a href="/transfer" class="btn btn-primary">Make Another Transfer</a>
            </div>
        </div>
    </div>

</body>
</html>